.hero{
background:
linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
url('https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?q=80&w=1920');
background-size:cover;
background-position:center;
background-repeat:no-repeat;
color:white;
text-align:center;
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
